@import "tailwindcss";

@theme {
  --background: #ffffff;
  --foreground: #171717;
  --color-aqua: #0aa;
}

@layer base {
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1 {
    @apply text-4xl font-bold text-aqua;
    font-family: var(--font-leckerli-one);
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}
