@import "tailwindcss";

@theme {
  --background: #f5fafa;
  --foreground: #171717;
  --color-aqua: #0aa;
  --color-background: #f5fafa;
  --font-leckerli: "Leckerli One";
  --font-nunito: "Nunito";
}

@layer base {
  html {
    max-width: 100vw;
  }
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    font-family: var(--font-nunito), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1 {
    @apply text-2xl mb-4 font-bold text-gray-800;
  }
  h2 {
    @apply text-aqua;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  button {
    @apply text-left;
  }
}
